.myNavBar {
  position: sticky;
}

.titleClass {
  /* font-family: "Dancing Script", cursive; */
  /* font-family: "Caveat", cursive;
  font-family: "Dancing Script", cursive; */
  font-family: "Caveat", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Permanent Marker", cursive;
}
